<form [formGroup]="expenseForm" (ngSubmit)="handleSubmit()">
    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="text"
        class="form-control"
        id="category"
        formControlName="category"
      />
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input
        type="number"
        class="form-control"
        id="amount"
        formControlName="amount"
      />
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select name="type" id="type" class="form-control" formControlName="type">
        <option value="" selected disabled>Select your type</option>
        <option value="fixed">Fixed</option>
        <option value="recurrence">Recurrence</option>
      </select>
    </div>
    <ng-container *ngIf="showContent">
      <div class="form-group">
        <label for="duration">Duration</label>
        <input
          type="text"
          id="duration"
          formControlName="duration"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input
          type="date"
          class="form-control"
          id="date"
          formControlName="date"
        />
      </div>
    </ng-container>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
    <button data-bs-dismiss="modal" type="submit" class="btn btn-primary mt-3">
      Submit
    </button>
  </form>
  