<div class="d-flex justify-content-center balance">
  <div>
      balance : {{balance}} $
  </div>
</div>
<div class=" m-4">
  <div class="row mb-3">
      <div class="col-auto d-flex align-items-center">
          <label for="modeSelect" class="me-2">Mode:</label>
          <select id="modeSelect" [(ngModel)]="selectedMode" (change)="updateChart()" class="form-select form-select-sm">
              <option *ngFor="let item of mode" [value]="item">{{item}}</option>
          </select>
      </div>
  </div>

  <div class="row chart-container">
      <div class="col-md-6">
          <app-line-chart [LineDate]="LineDate"></app-line-chart>
      </div>
      <div class="col-md-6">

        @if (noData) {
            <div class="alert alert-warning">No data available</div>

        }@else{
            <app-pie-chart [pieData]="pieData"></app-pie-chart>
        }

      </div>
  </div>
</div>

