<nav class="navbar navbar-expand-md navbar-light bg-main shadow-lg">
  <div class="container">
    <app-side-bar></app-side-bar>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">

        <li class="nav-item dropdown gap-2">
          <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-bell"></i> <span class="badge bg-secondary">{{unreadNotificationsCount}}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
            <li *ngFor="let notification of notifications" [ngClass]="{'read-notification': !notification.isRead}">
              <p class="dropdown-item notification-item" (click)="markAsRead(notification)">
                {{notification.message}}
              </p>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown gap-2">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-regular fa-circle-user"></i> {{userEmail}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" routerLink="profile">Profile</a>
            </li>
            <li>
              <button (click)="handleLogout()" class="dropdown-item">
                Logout
              </button>
            </li>
          </ul>
        </li>
        <li class="d-block d-md-none">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="d-block d-md-none">
          <a class="nav-link" routerLink="income">Income</a>
        </li>
        <li class="d-block d-md-none">
          <a class="nav-link" routerLink="expense">Expense</a>
        </li>
        <li class="d-block d-md-none">
          <a class="nav-link" routerLink="profile">Profile</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="incomeModal1" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="incomeModalLabel">Income Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>