<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>amount</th>
      <th>category</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of IncomeTransactions">
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.categoryId }}</td>
      <td>{{ transaction.date | date:'medium' }}</td>
    </tr>
  </tbody>
</table>
