<!-- side-menu.component.html -->
<div class="side-menu text-white d-flex flex-column gap-3 p-3">
  <div routerLink="home" class="side-menu__item d-flex gap-3 align-items-center" role="button">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </div>
  <div routerLink="profile" class="side-menu__item d-flex gap-3 align-items-center" role="button">
    <i class="fas fa-user"></i>
    <span>Profile</span>
  </div>
  <div routerLink="income" class="side-menu__item d-flex gap-3 align-items-center" role="button" >
    <i class="fas fa-money-bill-wave"></i>
    <span>Income</span>
  </div>
  <div class="side-menu__item d-flex gap-3 align-items-center" role="button">
    <i class="fas fa-money-bill-wave"></i>
    <span>Expense</span>
  </div>
</div>

