<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let transaction of transactions">
      <mat-card class="budget-card shadow">
        <button mat-button color="primary">
          {{ transaction.categoryName }}
        </button>
        <mat-card-content>
          <p>Income: ${{ transaction.amount }}</p>
          <p>Type: {{ getTypeName(transaction.type) }}</p>
          <p>Description: {{ transaction.description }}</p>
          <p *ngIf="transaction.date">Date: {{ transaction.date }}</p>
          <button
            mat-raised-button
            color="primary"
            data-bs-toggle="modal"
            data-bs-target="#updateModal"
            (click)="openUpdateModal(transaction)"
          >
            Update
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteTransaction(transaction.id)"
          >
            Delete
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal modal-lg fade" id="updateModal" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p-stepper #stepper [linear]="true">
          <p-stepperPanel header="Categories">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                
                </div>
              </div>
              <div class="flex pt-4 justify-content-end">
                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>
          <p-stepperPanel header="Income Form">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                  <form [formGroup]="updateForm">
                    <div class="form-group">
                      <label for="category">Category</label>
                      <input type="text" class="form-control" id="category" formControlName="category" />
                    </div>
                    <div class="form-group">
                      <label for="amount">Amount</label>
                      <input type="number" class="form-control" id="amount" formControlName="amount" />
                    </div>
                    <div class="form-group">
                      <label for="type">Type</label>
                      <select name="type" id="type" class="form-control" formControlName="type" (change)="onTypeChange($event)">
                        <option value="" selected disabled>Select your type</option>
                        <option value="Fixed">Fixed</option>
                        <option value="Recurrence">Recurrence</option>
                      </select>
                    </div>


                    <ng-container *ngIf="selectedType === 'Recurrence'">
                      <!-- These elements will be hidden when selectedType is 'Recurrence' -->
                      <div class="form-group">
                        <label for="duration">Duration</label>
                        <input
                          type="text"
                          id="duration"
                          formControlName="duration"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <label for="date">Date</label>
                        <input
                          type="date"
                          class="form-control"
                          id="date"
                          formControlName="date"
                        />
                      </div>
                    </ng-container>

                    

                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea
                        id="description"
                        formControlName="description"
                        class="form-control"
                        rows="3"
                      ></textarea>
                    </div>
                    <button data-bs-dismiss="modal" type="submit" class="btn btn-primary mt-3">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
              <div class="flex pt-4 justify-content-between">
                <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>
        </p-stepper>
      </div>
    </div>
  </div>
</div>
