<div class="add-card-button-container">
  <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#incomeModal">Add New Income</button>
</div>

<app-income-card></app-income-card>

<!-- Modal -->
<div class="modal modal-lg fade" id="incomeModal" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <mat-horizontal-stepper #stepper>
          <mat-step label="Categories">
            <ng-template matStepLabel>Categories</ng-template>
            <div class="step-content">
              <app-income-categories (categorySelected)="handleCategorySelected($event)"></app-income-categories>
            </div>
            <div class="flex pt-4 justify-content-end">
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Income Form">
            <ng-template matStepLabel>Income Form</ng-template>
            <div class="step-content">
              <app-income-form [selectedCategory]="selectedCategory"></app-income-form>
            </div>
            <div class="flex pt-4 justify-content-between">
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>


