<!-- Add New Card Button -->
<div class="add-card-button-container">
    <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#incomeModal">Add New
        Expense</button>
</div>

<!-- <div class="dashboard-container">
    <app-expense-card *ngFor="let transaction of transactions" [transaction]="transaction"></app-expense-card>
</div> -->
<app-expense-card></app-expense-card>



<!-- Modal -->
<!-- <div class="modal modal-lg fade" id="incomeModal" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p-stepper [linear]="true">
                    <p-stepperPanel header="Categories">
                        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                            <div class="flex flex-column h-12rem">
                                <div
                                    class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                    <app-expense-categories></app-expense-categories>
                                </div>
                            </div>
                            <div class="flex pt-4 justify-content-end">
                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                                    (onClick)="nextCallback.emit()" />
                            </div>
                        </ng-template>
                    </p-stepperPanel>
                    <p-stepperPanel header="Income Form">
                        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                            let-index="index">
                            <div class="flex flex-column h-12rem">
                                <div
                                    class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                    <app-expense-form></app-expense-form>
                                </div>
                            </div>
                            <div class="flex pt-4 justify-content-between">
                                <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                            </div>
                        </ng-template>
                    </p-stepperPanel>
                </p-stepper>
            </div>
        </div>
    </div>
</div> -->



<!-- Modal -->
<div class="modal modal-lg fade" id="incomeModal" tabindex="-1" aria-labelledby="incomeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <mat-horizontal-stepper #stepper>
            <mat-step label="Categories">
              <ng-template matStepLabel>Categories</ng-template>
              <div class="step-content">
                <app-expense-categories></app-expense-categories>
            </div>
              <div class="flex pt-4 justify-content-end">
                <button mat-button matStepperNext >Next</button>
              </div>
            </mat-step>
            <mat-step label="Income Form">
              <ng-template matStepLabel>Income Form</ng-template>
              <div class="step-content">
                <app-expense-form></app-expense-form>
            </div>
              <div class="flex pt-4 justify-content-between">
                <button mat-button matStepperPrevious>Back</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
  