<mat-card class="budget-card">
    <button mat-button color="primary">{{transaction.categoryName.result}}</button>
    <!-- <mat-card-title>{{ budget.name }}</mat-card-title> -->
    <mat-card-content>
        <p>Amount: ${{ transaction.amount }}</p>
        <!-- <mat-progress-bar [value]="(budget.spent / budget.allocated) * 100"
            [color]="budget.spent > budget.allocated ? 'warn' : 'primary'"></mat-progress-bar> -->
        <!-- <div class="members">
            <img *ngFor="let member of budget.members" [src]="member.photo" class="member-photo"
                alt="{{ member.name }}">
        </div> -->
        <p>Date: {{ transaction.date}}</p>
        <p>Description: {{transaction.description}}</p>
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn" (click)="deleteTransaction(transaction.id)">Delete</button>


    </mat-card-content>
</mat-card>