<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let transaction of transactions">
      <mat-card class="budget-card shadow">
        <button mat-button color="primary">
          {{ transaction.categoryName }}
        </button>
        <mat-card-content>
          <p>Income: ${{ transaction.amount }}</p>
          <p>Description: {{ transaction.description }}</p>
          <p *ngIf="transaction.date">Date: {{ transaction.date }}</p>
          <button
            mat-raised-button
            color="primary"
            data-bs-toggle="modal"
            data-bs-target="#updateModal"
          >
            Update
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteTransaction(transaction.id)"
          >
            Delete
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
