.add-card-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
  
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
  }
  
  .budget-card {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
  }
  
  /* Large screens */
  @media (min-width: 1200px) {
    .budget-card {
      flex: 1 1 calc(25% - 20px);
    }
  }
  
  /* Medium screens */
  @media (min-width: 768px) and (max-width: 1199px) {
    .budget-card {
      flex: 1 1 calc(33.33% - 20px);
    }
  }
  
  /* Small screens */
  @media (max-width: 767px) {
    .budget-card {
      flex: 1 1 100%;
    }
  }
  
  .card-icons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .card-icons mat-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .members {
    display: flex;
    margin-top: 10px;
  }
  
  .member-photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  